.headingContainer {
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.heading {
  color: white;
  font-family: "Roboto Mono", monospace;
  line-height: 1.25;
  font-size: 75px;
}

.sub-heading {
  margin: 0px;
  padding: 0px;
  color: white;
  opacity: 50%;
  font-size: 25px;
}
